flask>=2.0.1
flask-cors>=3.0.10
flask-socketio>=5.0.0
gunicorn>=21.0.0
eventlet>=0.33.0
tensorflow>=2.16.1
numpy>=1.21.0
opencv-python>=4.5.3.56
werkzeug>=2.0.1
pandas>=1.2.4
matplotlib>=3.4.2
seaborn>=0.11.1
plotly>=5.1.0
scikit-learn>=0.24.2
SimpleITK>=2.1.1
Pillow>=8.2.0